//set space between sections
main section {
    padding: 100px 0;
    color: $text;
}

h2 {
    font-size: 5rem;
    width: 100%;
    text-align: center;
}

.about {
    background: linear-gradient( 160deg, $secondary 50%, $primary 50%);

    h2 {
        margin-bottom: 50px;
    }

    span {
        color: $accent;
    }

    .aboutContainer {
        margin: 0 70px;
        display: flex;
    }

    .imageContainer {
        width: 30%;

        img {
            border-radius: 50%;
        }
        
    }

    .textContainer {
        width: 50%;
        margin-left: 60px;
        font-size: 2rem;
        line-height: 32px;
        letter-spacing: 0.7px;
        display: flex;
        align-items: center;
    }
}
