
$primary: #fff;
$secondary: #f6f5ff; //light purple
$text: #000519;
$accent:#D7263D;

body {
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.7px;
    line-height: 32px;
    color: $text;
}
