footer {
    background: rgba(74, 74, 78, 0.8);
    color: $primary;
    font-size: 1.5rem;
    height: 120px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    ul {
        display: flex;
        font-size: 3rem;
    }
    li {
        margin: 20px 10px;
    }
    a {
        color: inherit;
        &:hover,
        &:focus {
            color: $accent;
        }
    }
    
}