header {
    background-image: url(./assets/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;

    nav {
        padding: 0 5%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $primary;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        box-shadow: 0 0 2px $text;
    }

    .logo {
        font-size: 2.5rem;
        font-weight: 500;
        color: $accent;
        border: 2px solid $text;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient( 135deg, $secondaryAccent 50%, $primary 50%);
    }

    .hamburger {
        font-size: 3.5rem;
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
        display: none;
        &:hover,
        &:focus {
            color: $accent;
        }
    }

    .hideHamburger {
        opacity: 0;
    }
    
    ul {
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .exitButton {
            display: none;
            background: transparent;
            color: $primary;
            border: none;
            font-size: 2.5rem;
            position: absolute;
            left: 0;
            &:hover,
            &:focus {
                color: $accent;
            }
        }
    }

    a {
        color: $text;
        font-size: 2rem;
        border-bottom: 2px solid transparent;
        &:hover,
        &:focus {
            border-bottom-color: $accent;
        }
    }
    
    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 20%;
        
        p:first-child,
        h1,
        p:last-child {
            animation: slideIn ease-in-out;
            position: relative;
        }
        p:first-child {
            font-size: 5rem;
            animation-duration: 1s;

        }
        
        h1 {
            font-size: 7rem;
            margin: 50px 0;
            animation-duration: 1.7s;
        }

        p:last-child {
            font-size: 4rem;
            animation-duration: 2.5s;
        }

    }

    span {
        color: $accent;
        font-style: italic;
    }
    
}

@keyframes slideIn {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

