// Header background image from https://unsplash.com/photos/m_HRfLhgABo by Christopher Gower

header {
    background-image: linear-gradient(rgba(74, 74, 78, 0.8)),url(./assets/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: $secondary;

    nav {
        margin: 0 5%;
        height: 12vh;
        display: flex;
        justify-content: flex-end;
    }
    .hamburger {
        font-size: 3.5rem;
        color: $primary;
        position: absolute;
        top: 20px;
        right: 50px;
        background: transparent;
        border: none;
        display: none;
    }
    .hideHamburger {
        opacity: 0;
    }
    
    ul {
        height: 12vh;
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    a {
        color: $secondary;
        font-size: 2rem;
        border-bottom: 2px solid transparent;
        transition: all 300ms ease-in-out;
        &:hover,
        &:focus {
            border-bottom-color: $accent;
        }
    }
    
    .wrapper {
        height: 92vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 20%;
        padding-bottom: 15%;
    }

    h1 {
        font-size: 7rem;
        margin: 50px 0;
    }

    span {
        color: $accent;
        font-style: italic;

    }
    p:first-child {
        font-size: 5rem;
    }
    p:last-child {
        font-size: 3rem;
    }
}
