.portfolio {
    background: linear-gradient( 160deg, $primary 50%, $secondary 50%);
    
    h3 {
        font-size: 3rem;
        margin-top: 20px;
        position: relative;
        display: inline-block;
    
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 5%;
            width: 90%;
            height: 50%;
            background: $secondaryAccent;
            z-index: 0;
        }   
    }

}

// Project
.project {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;

    .projectImage {
        width: 45%;
        transition: all 400ms ease-in-out;
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }

    .projectText {
        width: 50%;

        p {
            font-size: 1.8rem;
            letter-spacing: 0.5px;
        }
    
        p:nth-of-type(1) {
            margin: 25px 0;
            font-size: 2rem;
            font-style: italic;
        }

    }

    button {
        background: transparent;
        color: $text;
        font-size: 2rem;
        padding: 5px 15px;
        border: 2px solid $text;
        margin-top: 25px;

        &:hover,
        &:focus {
            background: $secondaryAccent;
            cursor: pointer;
        }

        a {
            color: $text;
        }
    }
}

//Dessert Corner Project
.dessertCorner,
.captured {
    flex-direction: row-reverse;
}