// -------MEDIA QUERIES--------

@media (max-width: 900px) {
    // Header
    header {
        background-size: contain;
        background-repeat: repeat;
        
        .hamburger {
            display: block;
        }
        
        nav {
            height: 80px;
        }

        ul {
            padding-top: 10px;
            flex-direction: column;
            width: 40vw;
            height: 100vh;
            text-align: center;
            justify-content: flex-start;
            position: absolute;
            top: 0;
            right: -40vw;
            background: linear-gradient(rgba(74, 74, 78, 0.75));
            transition: all 400ms ease-in;

            .exitButton {
                display: block;
            }
            .exitButton + li {
                margin-top: 20px;
            }
            
        }

        //class to be added to ul for hamburger menu
        .sideBar {
            right: 0;

            a {
                color: $secondary;
            }
        }

        li {
            padding: 20px 0;
        }
        
        

    }

    //About
    .about {

        .aboutContainer {
            margin: 0 30px;
        }

        .imageContainer {
            width: 40%;
        }
    }

    //Contact
    .contact {
        form {
            width: 90%;
        }
    }

}

@media (max-width: 720px) {
    //About
    .about {
        .aboutContainer {
            flex-direction: column;
        }

        .imageContainer {
            margin: 0 auto;
            width: 45%;
        }

        .textContainer {
            width: 100%;
            margin: 50px 0 0 0;
        }
    }

    //Portfolio
    .portfolio {

        .project {
            flex-direction: column;

            .projectImage {
                margin: 0 auto;
                width: 80%;
            }

            .projectText {
                width: 100%;
                text-align: center;
            }
        }

        .projectThree {
            margin-bottom: 0;
        }
    }

    //Contact
    .contact {
        form {
            width: 100%;
        }
    }

}

@media (max-width: 500px) {
    //Header
    header {
        .wrapper {
            padding-left: 3%;
        }

        ul {
            width: 50vw;
            right: -50vw;
        }
    } 
    //About
    .about {

        padding-bottom: 0;

        .imageContainer {
            width: 60%;
        }

    }
    //Portfolio
    .portfolio .project .projectImage {
        width: 100%;
    }

    //Skills
    .skills {
        li {
            width: 33.33%;
        }
    }
}

@media (max-width: 400px) {
    //header
    header {

        .sideBar {
            width: 60vw;
        }

        .hamburger {
            right: 20px;
        }

    } 

    //Skills
    .skills {
        li {
            width: 50%;
        }
    }
}