html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 0.7px;
  line-height: 32px;
  color: #000519;
}

header {
  background-image: url(./assets/background/diamond.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header nav {
  padding: 0 5%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

header .hamburger {
  font-size: 3.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  display: none;
}

header .hideHamburger {
  opacity: 0;
}

header ul {
  height: 10vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul .exitButton {
  display: none;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 3rem;
  position: absolute;
  left: 5px;
}

header a {
  color: #000519;
  font-size: 2rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header a:hover, header a:focus {
  border-bottom-color: #D7263D;
}

header .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-left: 20%;
}

header h1 {
  font-size: 7rem;
  margin: 50px 0;
}

header span {
  color: #D7263D;
  font-style: italic;
}

header p:first-child {
  font-size: 5rem;
}

header p:last-child {
  font-size: 3rem;
}

main section {
  padding: 90px 0;
  color: #000519;
}

h2 {
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

.about {
  background: linear-gradient(160deg, #f6f5ff 50%, #fff 50%);
}

.about h2 {
  margin-bottom: 50px;
}

.about span {
  color: #D7263D;
}

.about .aboutContainer {
  margin: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .imageContainer {
  width: 30%;
}

.about .imageContainer img {
  border-radius: 50%;
}

.about .textContainer {
  width: 50%;
  margin-left: 60px;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 0.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio {
  background: linear-gradient(160deg, #fff 50%, #f6f5ff 50%);
}

h3 {
  font-size: 3rem;
  margin-top: 20px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .projectImage {
  width: 45%;
}

.project .projectText {
  width: 50%;
}

.project .projectText p {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
}

.project .projectText p:nth-of-type(1) {
  margin: 25px 0;
  font-size: 2rem;
  font-style: italic;
}

.project button {
  background: transparent;
  color: #000519;
  font-size: 2rem;
  padding: 5px 15px;
  border: 2px solid #000519;
  margin-top: 25px;
}

.project button:hover, .project button:focus {
  color: #fff;
  -webkit-box-shadow: 2px 2px 3px #000519;
          box-shadow: 2px 2px 3px #000519;
  cursor: pointer;
}

.project button a {
  color: #000519;
}

.projectTwo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.skills {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f5ff));
  background: linear-gradient(#fff, #f6f5ff);
}

.skills h2 {
  margin-bottom: 100px;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.skills i {
  font-size: 6rem;
}

.skills img {
  background: transparent;
  width: 60px;
}

.skills p {
  font-size: 2rem;
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 74, 78, 0.4))), url(./assets/letter2.jpg);
  background-image: linear-gradient(rgba(74, 74, 78, 0.4)), url(./assets/letter2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  font-size: 1.5rem;
}

.contact .formTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact input,
.contact textarea {
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.6);
}

.contact input {
  width: calc(49% - 2px);
  font-size: 1.5rem;
}

.contact textarea {
  width: 100%;
  resize: none;
  margin-top: 20px;
}

.contact button {
  margin-top: 40px;
  padding: 10px 40px;
  font-size: 1.8rem;
  background: rgba(74, 74, 78, 0.9);
  border: 2px solid #fff;
  color: #fff;
}

.contact button:hover, .contact button:focus {
  background: #fff;
  color: #000519;
  cursor: pointer;
}

footer {
  background: rgba(74, 74, 78, 0.8);
  color: #fff;
  font-size: 1.5rem;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
}

footer li {
  margin: 20px 10px;
}

footer a {
  color: inherit;
}

footer a:hover, footer a:focus {
  color: #D7263D;
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    background-size: contain;
    background-repeat: repeat;
  }
  header .hamburger {
    display: block;
  }
  header nav {
    height: 80px;
  }
  header ul {
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40vw;
    height: 100vh;
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 0;
    right: -40vw;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 74, 78, 0.75)));
    background: linear-gradient(rgba(74, 74, 78, 0.75));
    -webkit-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
  }
  header ul .exitButton {
    display: block;
  }
  header ul .exitButton + li {
    margin-top: 20px;
  }
  header .sideBar {
    right: 0;
  }
  header .sideBar a {
    color: #f6f5ff;
  }
  header li {
    padding: 20px 0;
  }
  .about .aboutContainer {
    margin: 0 30px;
  }
  .about .imageContainer {
    width: 40%;
  }
  .contact form {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .about .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .imageContainer {
    margin: 0 auto;
    width: 45%;
  }
  .about .textContainer {
    width: 100%;
    margin: 50px 0 0 0;
  }
  .portfolio .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .project .projectImage {
    margin: 0 auto;
    width: 80%;
  }
  .portfolio .project .projectText {
    width: 100%;
    text-align: center;
  }
  .portfolio .projectThree {
    margin-bottom: 0;
  }
  .contact form {
    width: 100%;
  }
}

@media (max-width: 500px) {
  header .wrapper {
    padding-left: 3%;
  }
  .about {
    padding-bottom: 0;
  }
  .about .imageContainer {
    width: 60%;
  }
  .portfolio .project .projectImage {
    width: 100%;
  }
  .skills li {
    width: 33.33%;
  }
}

@media (max-width: 400px) {
  header .sideBar {
    width: 60vw;
  }
  header .hamburger {
    right: 20px;
  }
  .skills li {
    width: 50%;
  }
}
